<!DOCTYPE html>
{% load crispy_forms_tags %} 
{{ form.media }} 

<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Add Photo</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <style>
          
     </style>
</head>
<body class="m-5">
     <div class="container ">
          <div class="row justify-content-center">
               {% if page == 'addPhoto' %}
               <div class="col-md-7">
                    <a href="{% url 'gallary' %}" class="btn btn-dark my-3">Go back</a>

                    

                         <form action="" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="row">
                                   <div class="col col-sm-6">{{ form.category|as_crispy_field}}</div>
                                   <div class="col col-sm-6">{{ form.title|as_crispy_field}}</div>
                                   <div class="col col-sm-6">{{ form.image|as_crispy_field}}</div>
                                   <div class="col col-md-12">{{ form.description|as_crispy_field|safe}}</div>
                              </div>
                              <button type="submit" class="btn btn-success">Save</button>
                              <button type="reset" class="btn btn-danger">Reset</button>
                         </form>
               </div>
               {% else %}
               <div class="col-md-6">
                    <a href="{% url 'gallary' %}" class="btn btn-dark my-3">Go back</a>

                    

                         <form action="" method="POST">
                              {% csrf_token %}
                              {{ form }}
                              <button type="submit" class="btn btn-success mt-2">Save</button>
                              <button type="reset" class="btn btn-danger mt-2">Reset</button>
                         </form>
               </div>
               {% endif %}
                    
          </div>

     </div>
     

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
